<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>
<h1>List of Users</h1>
<table border="1" style="border-collapse: collapse" width="50%">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Connections</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.firstName}">walid</td>
        <td th:text="${user.lastName}">cheikh</td>
        <td th:text="${user.email}">email@email.com</td>
        <td th:switch="${user.id}">
            <span th:case="${connectedUser.id}"></span>
            <span th:case="*">connect</span>
        </td>
    </tr>
</table>
<hr>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>